<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">

    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <h1>About project</h1>
      <p>
        This project is a great place to start with Node.js using Express framework and serving pages using EJS
        templating engine. EJS is a client-side templating language that was
        originally part of JavaScript MVC, which has now been replaced by DoneJs.
        Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js
        uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.
        Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.
        Express is a minimal and flexible Node.js web applicaiton framework that provides
        a robust set of features for web and mobile applications.
      </p>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
